.*.swp
*.[oa]
gtest-1.7.0.zip
gtest-1.7.0
objs
tests
*.pyc
testpass
libsteps.a
testpass.dSYM/
COPYING
ChangeLog
INSTALL
Makefile.in
NEWS
README
aclocal.m4
autom4te.cache/
compile
config.h
config.log
config.status
configure
depcomp
install-sh
missing
.deps/
.dirstamp
stamp-h1
test
test-driver
test-suite.log
test.log
test.trs
